

.btn-cart{
    font-size: 32px !important;
    transition: ease-in-out 0.3s !important;
    border: transparent !important;
}
.btn-cart:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}
.btn-outline-light.focus, .btn-outline-light:focus {
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 
}
.bg-nav {
    background-color: #000000!important;
}
.img-nav{
    width: 60px;
    height: auto;
    transition: ease-in-out 0.3s;
}
.img-book{
    width: 40px;
    height: auto;
}
.img-nav:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
}
.total-border{
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.form-qty{
    border-radius: 0px !important;
    text-align: center;
}
.cart-size{
    font-size: 25px;
    color: white;
    transition: ease-in-out 0.3s;
}
.cart-size:hover{
    color: #fff;
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
    text-decoration: none !important;
}
.cart-num {
    border-radius: 100%;
    background: #fff;
    color: #000000;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 16px;
}